<app-layout>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5>Cliente</h5>
                    <label>Nome:</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.nome">
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary my-2" (click)="pesquisar()">Pesquisar</button>
                </div>
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Codigo</th>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Cidade</th>
                                <th>Cep</th>
                                <th>UF</th>
                                <th>Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of listaCliente">
                                <td><input type="radio" name="selecionado" (change)="selecionar(cliente)"></td>
                                <td>{{cliente.codigo}}</td>
                                <td>{{cliente.nome}}</td>
                                <td>{{cliente.endereco}}</td>
                                <td>{{cliente.cidade}}</td>
                                <td>{{cliente.cep}}</td>
                                <td>{{cliente.uf}}</td>
                                <td>{{cliente.telefone}}</td>
                            </tr>                         
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-primary" (click)="incluir()">Incluir</button>
                    <button type="button" class="btn btn-primary mx-2" (click)="alterar()">Alterar</button>
                    <button type="button" class="btn btn-primary" (click)="remover()">Remover</button>
                </div>
            </div>
        </div>
    </div>
</app-layout>